body {
    background-color: #d9d2e9;
    font-family: 'Salsa', cursive;
}
.app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding:30px ;
    box-shadow:0 30px 50px rgba(29, 22, 46, 0.08);
    border-radius: 16px;

}