body {
    background-color: #d9d2e9;
    font-family: 'Salsa', cursive;
}
.app {
    background: white;
    max-width: 600px;
    margin: 45px auto;
    padding:30px ;
    box-shadow:0 30px 50px rgba(29, 22, 46, 0.08);
    border-radius: 16px;

}
.search-form-input {
background-color: #ede9f7;
border: none;
border-radius: 6px;
width: 80%;
padding: 15px 20px;
font-size: 16px;
font-family: 'Salsa', cursive;
}
.search-form-button {
   background: #a889f0; 
font-family: 'Salsa', cursive;
padding: 15px 30px;
border: none;
border-radius: 6px;
color: white;
margin-left: 5px;
font-size: 13px;
}
header {
    border-bottom:1px solid #ece9f0 ;
    padding:0 0 30px ;
}
footer{
    border-top: 1px solid #ece9f0;
        padding:30px 0 0 0 ;
   text-align: center;
   font-size: 12px;  
   color: #aaa9a9;   
}
a{
    color: #a889f0;
}
.weather-app-data {
    display: flex;
    justify-content:space-between ;

}
main{
    padding: 30px 0;
}
.weather-app-city{
  margin: 0;
   font-size:  55px; 
   line-height: 48px; 
}
.weather-app-details {
    font-size:16px ;
    line-height: 24px;
    color:#aaa9a9 ;

}
.weather-app-details strong {
    color: #f57da1;
}
.weather-app-temperature-container {
    display: flex;
}
.weather-app-value{
    font-size: 88px;
    font-weight: bold;
    
}
.weather-app-icon{
    width: 88px;
line-height: 88px;
}
.weather-app-deg {
    font-size: 28px;
    margin-top: 6px;
}
.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.weather-forecast-date {
    text-align: center;
    color: #aaa9a9;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
   
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}

.weather-forecast-temperatures {
    text-align: center;
    color: #f57da1;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
    color:#aaa9a9 ;
}

